body {
    display: flex;
    justify-content: center;
    background-image: url("images/fundo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    background-color: rgba(255, 255, 255, 0.938);
    box-shadow: 5px 5px 15px rgb(255, 166, 0);
    border-radius: 10px;
    width: 1000px;
    margin: 20px;
    font-size: 20px;
}

.titulo-acesso {
    display: flex;
    justify-content: center;
}

.comparar {
    margin-top: 10px;
}

.botao {
    margin-top: 10px;
    font-size: 23px;
}

.texto {
    background-color: rgba(255, 255, 172, 0.713);
    box-shadow: 5px 5px 5px rgb(255, 166, 0);
    color: rgb(84, 80, 0);
    border-color: yellow;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
}

.liberacoes_realizadas {
    display: flex;
    justify-content: center;
}

.oracle, .dbmaker {
    margin: 50px;
}