{% extends "usuarios/base.html" %}
{% load static %}
{% block content %}
        <div class="container">
            <section class="comparar">
                <a href="{% url 'liberacoes' %}" class="botao btn btn-primary"><i class="bi bi-box-arrow-left"></i></a>
                <h1>Comparar matriculas</h1>
                <form action="{% url 'comparar' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form.visible_fields %}
                        <div class="col-12 col-lg-12">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="container_botoes col-12 col-lg-12">
                        <button type="submit" class="botao btn btn-success col-12">Equiparar</button>
                    </div>
                    {% include 'partials/__alertas.html' %}
                    <div class="texto">
                        <p>{{ texto }}</p>
                    </div>
                </form>
            </section>
            <div class="titulo-acesso">
                <h1>Acessos liberados.</h1>
            </div>
            <div class="liberacoes_realizadas">
                <div class="oracle">
                    <h3>Códigos oracle</h3>
                    {% for liberacao in oracle %}
                    <p>{{ liberacao }}</p>
                    {% endfor %}
                </div>
                <div class="oracle">
                    <h3>Perfis oracle</h3>
                    {% for liberacao in perfis %}
                    <p>{{ liberacao }}</p>
                    {% endfor %}
                </div>
                <div class="dbmaker">
                    <h3>Dbmaker</h3>
                    {% for liberacao in dbmaker %}
                    <p>{{ liberacao }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}