{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suporte Balaroti</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static '/styles/comparacao.css' %}">
</head>
<body>   
    <main>
        <div class="container">
            <section class="comparar">
                <a href="{% url 'index' %}" class="botao btn btn-primary"><i class="bi bi-box-arrow-left"></i></a>
                <form action="{% url 'comparar' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form.visible_fields %}
                        <div class="col-12 col-lg-12">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                        {% endfor %}
                    </div>  
                    <div class="container_botoes col-12 col-lg-12">
                        <!-- <a href="{% url 'pesquisar' %}" class="botao btn btn-primary col-12">Pesquisar</a> -->
                        <button type="submit" class="botao btn btn-success col-12">Equiparar</button>
                    </div>
                    {% include 'partials/__alertas.html' %}
                    <div class="texto">
                        <p>{{ texto }}</p>
                    </div>
                </form>
            </section>
            <div class="liberacoes_realizadas">
                <div class="oracle">
                    <h3>Acessos no oracle</h3>
                    {% for liberacao in oracle %}
                    <p>{{ liberacao }}</p>
                    {% endfor %}
                </div>
                <div class="dbmaker">
                    <h3>Acessos no dbmaker</h3>
                    {% for liberacao in dbmaker %}
                    <p>{{ liberacao }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
</body>