{% extends "lojas/base.html" %}
{% load static %}
{% block content %}
<table class="excel-table">
    <p>{{ file }}</p>
    <tr>
        <th>Número loja</th>
        <th>Loja</th>
        <th>IP</th>
    </tr>
    {% for camera in cameras %}
        <tr>
            <td> {{ camera.numero }} </td>
            <td>{{ camera.loja }}</td>
            <td>{{ camera.ip }}</td>
        </tr>
    {% endfor %}
</table>
<hr>
<a href="{% url 'lojas' %}"><button class="botao btn btn-primary">Voltar</button></a>
{% endblock %}